@import "../../../../variables/variables.css";

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--white);
  padding: 2rem;
}

.form-elements-wrapper {
  display: flex;
  gap: 0.3rem;
}

.search-form-button {
  cursor: pointer;
}
