.suggestions-list {
  background-color: rgb(255, 255, 255);
  display: flex;
  border: 1px solid rgb(245, 245, 245);
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 62px;
}

.suggestions-list-item {
  list-style: none;
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgb(245, 245, 245);
  cursor: pointer;
}

.suggestions-list-item:hover {
  background-color: rgb(240, 240, 240);
}
