:root {
  --primaryColor: rgb(151, 169, 184);
  --secondaryColor: rgb(240, 248, 255);
  --apricoteLight: rgb(255, 253, 236);
  --apricoteDark: rgb(255, 228, 196);
  --greyLight: rgb(223, 223, 223);
  --white: rgb(255, 255, 255);
}
