.meal-category-link {
  background-color: rgb(240, 248, 255);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.meal-category-link:hover {
  background-color: rgb(255, 228, 196);
}
