.meal-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.meal-link-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
}

.meal-link-wrapper {
  display: flex;
  justify-content: center;
}
