@import "../../variables/variables.css";

.meal-container {
  max-width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--apricoteLight);
  gap: 2rem;
  padding-bottom: 2rem;
}

.meal-image {
  width: 100%;
  height: 100%;
}

.meal-button {
  background-color: var(--greyLight);
  padding: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.meal-button:hover {
  background-color: var(--apricoteDark);
}

.meal-name {
  font-weight: bold;
}

.meal-wrapper {
  position: relative;
}

.like-meal-wrapper {
  top: 0.2rem;
  right: 1rem;
  padding: 0.2rem;
  position: absolute;
}
