@import "../../variables/variables.css";

.meal-section-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.meal-section-container:nth-child(odd) {
  background-color: var(--primaryColor);
}

.meal-section-container:nth-child(even) {
  background-color: var(--secondaryColor);
}

.meal-category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
