.meal-section-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.meal-section-container:nth-child(odd) {
  background-color: rgb(151, 169, 184);
}

.meal-section-container:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.meal-category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
