@import "../../variables/variables.css";

.suggestions-list {
  background-color: var(--white);
  display: flex;
  border: 1px solid var(--greyLight);
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 62px;
}

.suggestions-list-item {
  list-style: none;
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--greyLight);
  cursor: pointer;
}

.suggestions-list-item:hover {
  background-color: var(--secondaryColor);
}
