.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color: rgb(240, 248, 255);
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
