@import "../../../variables/variables.css";

.meal-img {
  height: 2.2rem;
  padding: 0.2rem;
  background-color: var(--greyLight);
  cursor: pointer;
}

.like-btn {
  border: none;
}

.meal-img-large {
  height: 3.2rem;
  padding: 0.4rem;
}

.meal-img:hover,
.meal-img-large:hover {
  transform: scale(1.1);
}
